<p>customer-list works!</p>
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef= "name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCeleeDef = "">1</td>
    </ng-container>  
  
  
    
  
    <tr mat-header-row *matHeaderRowDef=""></tr>
     <tr mat-row *matRowDef="let row; columns: ;"
        (click)="selection.toggle(row)">
    </tr> -->
 
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
